html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 42px;
  margin: 30px;
  text-shadow: 10px 10px 0 rgba(0,0,0,0.2);
}

figure .board {
  display: inline-block;
  border: 10px solid black;
}

ul {
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 20px;
  height: 20px;
}

.snake {
  background: green;
}

button {
  margin: 15px;
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.square {
  outline: 1px solid;
  float: left;
  list-style: none;
  width: 20px;
  height: 20px;
}
