#snake-painter-game {
  margin: 0 auto;
  background: none;
  width: 600px;
}

h1 {
  font-family: sans-serif;
  margin: 25px 50px;
}

li {
  float: left;
}

.square {
  outline: 1px solid;
  float: left;
  list-style: none;
  width: 20px;
  height: 20px;
}

.levels {

}

button {
  margin: 15px;
  background-color: #f44336; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

ul.group {
  margin: 0;
  width: 600px;
  padding: 0;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}
